h4 {
    margin-bottom: 5px
}

.h6 {
    display: inline;
    padding: .3em .6em .3em 0;
}

.col-sm-1 {
    padding: 0;
    width: 5%;
}

.pond-fee, .pond-type, .pond-feature, .pond-review {
    margin: 0.3em 0;
}

.pond-introduction {
    margin: 0.6em 0;
}

.introduction {
    padding: 0.2em 0.2em;
}

.footer {
    padding: 0.5em 0;
    color: #999;
    text-align: center;
    border-bottom: 0.1em dotted #e5e5e5;
}