<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <mappers>
        <mapper resource="fishing/sunshine/mapper/manager.xml"/>
        <mapper resource="fishing/sunshine/mapper/fishfan.xml"/>
        <mapper resource="fishing/sunshine/mapper/fish.xml"/>
        <mapper resource="fishing/sunshine/mapper/contractor.xml"/>
        <mapper resource="fishing/sunshine/mapper/pondType.xml"/>
        <mapper resource="fishing/sunshine/mapper/fishPond.xml"/>
        <mapper resource="fishing/sunshine/mapper/location.xml"/>
        <mapper resource="fishing/sunshine/mapper/comment.xml"/>
    </mappers>
</configuration>